/* Width */

.w {
  &-100 {
    width: 100%;
  }
  &-75 {
    width: 75%;
  }
  &-66 {
    width: 66.66%;
  }
  &-50 {
    width: 50%;
  }
  &-33 {
    width: 33.33%;
  }
  &-25 {
    width: 25%;
  }
  &-auto {
    width: auto;
  }
}

/* Text */

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}

/* Flex */

.flex {
  display: flex;

  &-w {
    &-w {
      flex-wrap: wrap;
    }
  }

  &-d {
    &-c {
      flex-direction: column;
    }
    &-cr {
      flex-direction: column-reverse;
    }
    &-rr {
      flex-direction: row-reverse;
    }
    &-r {
      flex-direction: row;
    }
  }

  &-j {
    &-c {
      justify-content: center;
    }
    &-fs {
      justify-content: flex-start;
    }
    &-fe {
      justify-content: flex-end;
    }
    &-sa {
      justify-content: space-around;
    }
    &-sb {
      justify-content: space-between;
    }
  }

  &-a {
    &-c {
      align-items: center;
    }
    &-fs {
      align-items: flex-start;
    }
    &-fe {
      align-items: flex-end;
    }
    &-b {
      align-items: baseline;
    }
    &-s {
      align-items: stretch;
    }
  }

  &-ai {
    &-c {
      align-self: center;
    }
    &-fs {
      align-self: flex-start;
    }
    &-fe {
      align-self: flex-end;
    }
    &-b {
      align-self: baseline;
    }
    &-s {
      align-self: stretch;
    }
  }

  &-o {
    &-s {
      order: -1;
    }
    &-0 {
      order: 0;
    }
    &-1 {
      order: 1;
    }
    &-2 {
      order: 2;
    }
    &-3 {
      order: 3;
    }
  }
}
