.SentimentAnalysis {
  &-source {
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    .ping {
      height: 0.6rem;
      width: 0.6rem;
      display: inline-flex;
      position: relative;
      margin-right: var(--size-2);

      .animate {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 9999px;
        opacity: 0.75;
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
      }

      .bg {
        height: 0.6rem;
        width: 0.6rem;
        position: relative;
        border-radius: 9999px;
      }

      .ended {
        background-color: #a1a1aa;
        opacity: 0.2;
      }

      .upcoming {
        background-color: #22d3ee;
      }

      .live {
        background-color: #d2ff1f;
      }

      @keyframes ping {
        75%,
        100% {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }
  &-canvas {
    position: relative;
    z-index: 5;
    height: 300px;
    margin-top: var(--size-4);

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -13px;
      left: -12px;
      width: 24px;
      height: 24px;
      background-color: var(--bg-body);
      z-index: 2;
      transform: rotate(45deg);
    }

    &:after {
      top: initial;
      left: initial;
      bottom: -13px;
      right: -12px;
    }
  }

  &-tooltip {
    position: absolute;
    z-index: 100;
    width: 360px;
    pointer-events: none;
    background-color: var(--bg-body);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: var(--size-3) var(--size-4);
    transform: translateY(-30%);
    transition: all 0.2s ease-out;

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
      margin-top: var(--size-2);
      list-style-type: disc;
      padding-left: var(--size-3);
      color: rgb(var(--text-secondary-rgb));
    }

    ul + h5 {
      margin-top: var(--size-3);
    }

    h5 {
      font-size: 20px;
    }

    &-score {
      position: relative;
      margin-top: var(--size-3);
      color: #25cbff;
      padding: var(--size-3);

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(
          rgba(#25cbff, 0.1) 10%,
          rgba(#25cbff, 0.05)
        );
        border-radius: 50%;
        filter: blur(15px);
      }

      h6 {
        font-size: 18px;
      }

      p {
        font-size: 12px;
        margin-top: var(--size-2);
        opacity: 0.8;
      }

      .corner {
        &-left,
        &-right,
        &-top-bottom {
          &::before,
          &::after {
            background: rgba(#25cbff, 0.6);
          }
        }
      }
    }
  }
}
