@mixin variableColors {
  --color-1: hsl(var(--color-h), var(--color-s), var(--color-l-1));
  --color-2: hsl(var(--color-h), var(--color-s), var(--color-l-2));
  --color-3: hsl(var(--color-h), var(--color-s), var(--color-l-3));
}

@mixin trueMinHeight {
  min-height: var(--height-window, 100vh);
  // min-height: calc(100vh - constant(safe-area-inset-bottom));
  // min-height: calc(100vh - env(safe-area-inset-bottom));
}

@mixin backdrop($px: 5px) {
  backdrop-filter: blur($px);
  -webkit-backdrop-filter: blur($px);
}

@mixin text-gradient(
  $gradient:
    linear-gradient(var(--text-secondary) 20%, var(--text-primary) 100%)
) {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@mixin clamp($line: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin light-blur {
  content: "";
  background: linear-gradient(
    to right,
    hsl(var(--color-h), var(--color-s), var(--color-l-1)),
    hsl(var(--color-h), var(--color-s), var(--color-l-2)),
    hsl(var(--color-h), var(--color-s), var(--color-l-3))
  );
  position: absolute;
  inset: 5%;
  filter: blur(15px);
  pointer-events: none;
}

@mixin translate-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
