@import "../../../assets/css/mixins/styles";
@import "../../../assets/css/mixins/medias";

.gemDetail {
  --padding: var(--size-4);
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  gap: var(--padding);

  .card {
    --padding: var(--size-6);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);

    @include max($mobile) {
      --padding: calc(var(--size-6) / 1.5);
      gap: calc(var(--padding) / 1.5);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding) 0;
  }

  &-desc {
    font-size: 18px;
    line-height: 1.8;
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    p {
      white-space: break-spaces;
      font-size: 16px;
      line-height: 1.6;
    }
  }

  .corner {
    --corner-size: var(--size-3);
    z-index: 1;
  }

  .corner-hover {
    transition: opacity var(--transition-link);
    opacity: 0;
  }

  &:not([data-disabled]):hover {
    .corner-hover {
      opacity: 1;
    }
  }
}
