.input {
  --corner-size: var(--input-size);
  display: flex;
  font-size: var(--input-size);
  height: var(--input-height);
  text-transform: none;
  color: var(--text-secondary);

  &-icon {
    width: calc(var(--input-height) * 1.15);
    height: var(--input-height);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1.5em;
      color: var(--text-secondary);
    }
  }

  input {
    flex: 1;
    background: transparent;
    padding-right: calc(var(--input-height) / 2);
    letter-spacing: var(--text-spacing);

    &::placeholder {
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: var(--text-spacing);
    }
  }
}

.checkbox {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5rem;

  label {
    transition: var(--transition-input);
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      color: var(--text-secondary);
    }
  }

  input {
    transition: var(--transition-input);
    -webkit-appearance: none;
    appearance: none;
    border: var(--stroke-primary);
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;

    &[type="radio"] {
      border-radius: 50%;
    }

    &:hover {
      border-color: var(--text-secondary);

      & ~ label {
        color: var(--text-secondary);
      }
    }

    &:checked {
      background-color: var(--text-secondary);
      border-color: var(--text-secondary);

      &[type="radio"] {
        box-shadow: 0 0 0 2px var(--bg-body) inset;
      }

      &[type="checkbox"]::before {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: CanvasText;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }
    }
  }
}

.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range::-moz-range-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip {
  display: none; /* display and visibility only */
}

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
  border: 1px solid #d7dbdd;
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding: 0.4em 0.6em;
  border-radius: 3px;
}
