@import "../../assets/css/mixins/styles";
@import "../../assets/css/mixins/medias";

.socials {
  display: flex;
  gap: 0.5em;

  .nav & {
    display: none;

    @include max($responsiveHeader) {
      display: flex;
    }
  }

  a {
    transition:
      color var(--transition-link),
      opacity var(--transition-link);

    &:hover {
      color: var(--text-secondary);
    }
  }
}
