.markdown {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 1.6;

    ul, ol {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-left: 16px;
      list-style: disc;

      ul, ol {
        padding-left: 32px;
        margin-top: 16px;
      }
    }
}