.embeds {
    margin-top: 16px;

    --grid-item-min-width: calc(160px + 50 * (100vw - 320px) / 1080);

    &:hover {
        .embed {
            opacity: 0.4;
        }
    }

    .embed {
        transition: opacity .3s ease-out;
        &:hover {
            opacity: 1;
        }
    }

    .gem {
        --padding: var(--size-3);
      }
    .corner {
        z-index: 0;
    }
}