@import "../../../assets/css/mixins/styles";
@import "../../../assets/css/mixins/medias";

.star-animation {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  opacity: 0.3;
  inset: var(--main-padding);
}

.star-animation.isChat {
  inset: var(--main-padding);
  @include min($mobile) {
    left: var(--list-width);
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1377px 879px #fff,
    957px 911px #fff,
    3px 1750px #fff,
    936px 626px #fff,
    760px 588px #fff,
    807px 1236px #fff,
    870px 404px #fff,
    51px 1013px #fff,
    894px 1650px #fff,
    1944px 1812px #fff,
    1984px 672px #fff,
    1702px 1135px #fff,
    1473px 736px #fff,
    525px 1242px #fff,
    870px 984px #fff,
    970px 454px #fff,
    29px 288px #fff,
    346px 1000px #fff,
    1727px 1325px #fff,
    596px 635px #fff,
    1800px 1700px #fff,
    853px 1885px #fff,
    776px 1103px #fff,
    121px 54px #fff,
    1166px 464px #fff,
    146px 886px #fff,
    44px 663px #fff,
    6px 317px #fff,
    1158px 403px #fff,
    1225px 402px #fff,
    1577px 1257px #fff,
    1231px 547px #fff,
    1003px 1943px #fff,
    281px 1349px #fff,
    56px 1825px #fff,
    1308px 68px #fff,
    470px 1585px #fff,
    1917px 1616px #fff,
    981px 166px #fff,
    562px 1455px #fff,
    1710px 1383px #fff,
    215px 998px #fff,
    674px 1640px #fff,
    1297px 960px #fff,
    375px 808px #fff,
    1500px 1162px #fff,
    1052px 1678px #fff,
    1356px 1329px #fff,
    181px 330px #fff,
    1490px 1297px #fff,
    1606px 699px #fff,
    535px 1699px #fff,
    1981px 1444px #fff,
    1733px 226px #fff,
    1485px 1630px #fff,
    1532px 1283px #fff,
    1641px 1368px #fff,
    902px 1933px #fff,
    1148px 1504px #fff,
    529px 671px #fff,
    1268px 1175px #fff,
    128px 1277px #fff,
    145px 774px #fff,
    1262px 1525px #fff,
    409px 350px #fff,
    607px 205px #fff,
    731px 1405px #fff,
    1215px 589px #fff,
    929px 279px #fff,
    1082px 1564px #fff,
    670px 1798px #fff,
    1505px 903px #fff,
    1837px 106px #fff,
    220px 1375px #fff,
    1944px 436px #fff,
    462px 1566px #fff,
    1249px 856px #fff,
    1207px 912px #fff,
    285px 854px #fff,
    1844px 1461px #fff,
    242px 73px #fff,
    505px 1083px #fff,
    1648px 122px #fff,
    1906px 547px #fff,
    184px 714px #fff,
    1972px 1597px #fff,
    1301px 865px #fff,
    1465px 591px #fff,
    783px 653px #fff,
    824px 1413px #fff,
    190px 1094px #fff,
    1409px 353px #fff,
    134px 896px #fff,
    1909px 27px #fff,
    1615px 1242px #fff,
    1116px 483px #fff,
    729px 1690px #fff,
    1908px 1538px #fff,
    462px 524px #fff,
    103px 108px #fff,
    1762px 1820px #fff,
    496px 1870px #fff,
    358px 85px #fff,
    675px 1308px #fff,
    672px 434px #fff,
    470px 388px #fff,
    1367px 1222px #fff,
    1600px 1874px #fff,
    534px 437px #fff,
    1779px 1667px #fff,
    1646px 1205px #fff,
    1644px 1713px #fff,
    1778px 329px #fff,
    246px 1956px #fff,
    194px 161px #fff,
    246px 1714px #fff,
    1838px 1481px #fff,
    1875px 1505px #fff,
    1221px 1037px #fff,
    1862px 1539px #fff,
    985px 1507px #fff,
    380px 655px #fff,
    721px 605px #fff,
    757px 49px #fff,
    843px 1588px #fff,
    1823px 873px #fff,
    1525px 1494px #fff,
    24px 696px #fff,
    1902px 1354px #fff,
    1200px 600px #fff,
    659px 368px #fff,
    309px 166px #fff,
    764px 1922px #fff,
    1499px 925px #fff,
    247px 1749px #fff,
    946px 1783px #fff,
    1451px 1389px #fff,
    342px 68px #fff,
    1951px 1653px #fff,
    1314px 483px #fff,
    1963px 1486px #fff,
    770px 488px #fff,
    483px 1900px #fff,
    1045px 1803px #fff,
    880px 93px #fff,
    443px 756px #fff,
    38px 1349px #fff,
    1746px 1925px #fff,
    1697px 1528px #fff,
    1512px 972px #fff,
    683px 572px #fff,
    1653px 1031px #fff,
    748px 1786px #fff,
    1609px 1868px #fff,
    103px 1207px #fff,
    1938px 1492px #fff,
    1298px 274px #fff,
    1328px 1978px #fff,
    1978px 1216px #fff,
    1795px 1221px #fff,
    121px 1338px #fff,
    9px 965px #fff,
    705px 1488px #fff,
    1641px 469px #fff,
    1721px 130px #fff,
    1539px 345px #fff,
    1948px 818px #fff,
    87px 476px #fff,
    281px 1773px #fff,
    587px 668px #fff,
    1204px 1916px #fff,
    1235px 114px #fff,
    214px 90px #fff,
    1839px 510px #fff,
    1092px 804px #fff,
    1240px 733px #fff,
    1319px 1168px #fff,
    168px 417px #fff,
    320px 568px #fff,
    712px 1327px #fff,
    926px 654px #fff,
    1608px 1338px #fff,
    1568px 1443px #fff,
    447px 1575px #fff,
    1685px 1265px #fff,
    253px 883px #fff,
    540px 388px #fff,
    932px 1774px #fff,
    535px 1786px #fff,
    212px 655px #fff,
    1844px 1028px #fff,
    1396px 1340px #fff,
    793px 1028px #fff,
    943px 1842px #fff,
    1202px 866px #fff,
    1152px 1718px #fff,
    925px 1012px #fff,
    1226px 245px #fff,
    625px 1104px #fff,
    267px 564px #fff,
    256px 79px #fff,
    1963px 73px #fff,
    202px 1097px #fff,
    1378px 533px #fff,
    966px 302px #fff,
    1647px 1415px #fff,
    1764px 615px #fff,
    1206px 98px #fff,
    1330px 1979px #fff,
    1402px 973px #fff,
    666px 930px #fff,
    1614px 1076px #fff,
    202px 464px #fff,
    851px 257px #fff,
    893px 1335px #fff,
    385px 94px #fff,
    266px 586px #fff,
    190px 578px #fff,
    609px 285px #fff,
    906px 395px #fff,
    554px 1133px #fff,
    1461px 1437px #fff,
    257px 135px #fff,
    345px 666px #fff,
    1839px 955px #fff,
    1444px 695px #fff,
    567px 54px #fff,
    1292px 1253px #fff,
    982px 198px #fff,
    946px 1013px #fff,
    1361px 639px #fff,
    1577px 291px #fff,
    860px 327px #fff,
    760px 1302px #fff,
    226px 1237px #fff,
    1286px 419px #fff,
    1046px 1048px #fff,
    704px 969px #fff,
    414px 805px #fff,
    279px 205px #fff,
    1453px 1380px #fff,
    801px 120px #fff,
    72px 1858px #fff,
    1136px 672px #fff,
    4px 948px #fff,
    1941px 535px #fff,
    1589px 313px #fff,
    500px 1547px #fff,
    1686px 731px #fff,
    1151px 1942px #fff,
    264px 1559px #fff,
    1137px 304px #fff,
    1222px 695px #fff,
    146px 988px #fff,
    1370px 1940px #fff,
    344px 1346px #fff,
    890px 808px #fff,
    1214px 1227px #fff,
    1810px 1918px #fff,
    1801px 1445px #fff,
    1393px 1427px #fff,
    1871px 436px #fff,
    947px 1389px #fff,
    604px 1454px #fff,
    1705px 1758px #fff,
    453px 527px #fff,
    1844px 378px #fff,
    341px 1054px #fff,
    1414px 289px #fff,
    385px 115px #fff,
    782px 257px #fff,
    363px 925px #fff,
    1166px 1375px #fff,
    636px 458px #fff,
    1401px 206px #fff,
    668px 183px #fff,
    1970px 77px #fff,
    781px 887px #fff,
    1001px 1753px #fff,
    358px 537px #fff,
    23px 676px #fff,
    60px 1483px #fff,
    196px 1689px #fff,
    1830px 56px #fff,
    1766px 1385px #fff,
    1849px 1669px #fff,
    1421px 1499px #fff,
    82px 620px #fff,
    524px 1443px #fff,
    1911px 1735px #fff,
    198px 1038px #fff,
    932px 781px #fff,
    74px 255px #fff,
    1255px 1908px #fff,
    711px 1571px #fff,
    76px 1190px #fff,
    280px 1434px #fff,
    1593px 900px #fff,
    1552px 1178px #fff,
    762px 688px #fff,
    810px 1150px #fff,
    765px 383px #fff,
    1108px 1385px #fff,
    185px 383px #fff,
    1934px 1669px #fff,
    1650px 675px #fff,
    9px 50px #fff,
    952px 1042px #fff,
    1568px 1329px #fff,
    1909px 1032px #fff,
    1712px 1325px #fff,
    148px 1715px #fff,
    1823px 1972px #fff,
    23px 1494px #fff,
    1763px 1782px #fff,
    430px 189px #fff,
    1480px 364px #fff,
    1933px 1802px #fff,
    383px 1174px #fff,
    52px 903px #fff,
    858px 1147px #fff,
    1114px 367px #fff,
    1719px 1878px #fff,
    1226px 625px #fff,
    229px 270px #fff,
    688px 1938px #fff,
    346px 39px #fff,
    51px 1606px #fff,
    1467px 315px #fff,
    1049px 705px #fff,
    1621px 395px #fff,
    1472px 1196px #fff,
    531px 2000px #fff,
    325px 230px #fff,
    878px 1094px #fff,
    1815px 756px #fff,
    694px 427px #fff,
    1205px 387px #fff,
    354px 955px #fff,
    1432px 903px #fff,
    329px 84px #fff,
    1687px 1968px #fff,
    117px 103px #fff,
    1809px 776px #fff,
    1964px 1932px #fff,
    1679px 304px #fff,
    855px 1431px #fff,
    289px 1445px #fff,
    1210px 184px #fff,
    1381px 1416px #fff,
    118px 1270px #fff,
    140px 102px #fff,
    1148px 350px #fff,
    545px 1077px #fff,
    1304px 886px #fff,
    1474px 64px #fff,
    317px 1669px #fff,
    190px 1319px #fff,
    1380px 486px #fff,
    531px 1750px #fff,
    1407px 1365px #fff,
    245px 290px #fff,
    368px 1355px #fff,
    1205px 1261px #fff,
    6px 746px #fff,
    549px 50px #fff,
    838px 658px #fff,
    1103px 1747px #fff,
    1244px 772px #fff,
    534px 545px #fff,
    1px 118px #fff,
    1507px 765px #fff,
    1017px 1615px #fff,
    965px 146px #fff,
    389px 108px #fff,
    1234px 1725px #fff,
    235px 1854px #fff,
    1151px 974px #fff,
    784px 472px #fff,
    1408px 1876px #fff,
    229px 1834px #fff,
    981px 1550px #fff,
    117px 1394px #fff,
    676px 1919px #fff,
    452px 1385px #fff,
    1566px 865px #fff,
    63px 1826px #fff,
    892px 780px #fff,
    1772px 1456px #fff,
    951px 1608px #fff,
    251px 1592px #fff,
    1989px 1619px #fff,
    1457px 627px #fff,
    509px 1790px #fff,
    822px 718px #fff,
    1489px 1493px #fff,
    748px 1248px #fff,
    1131px 265px #fff,
    920px 1418px #fff,
    872px 467px #fff,
    138px 1730px #fff,
    228px 406px #fff,
    1846px 1975px #fff,
    1733px 610px #fff,
    559px 492px #fff,
    1789px 744px #fff,
    1587px 1156px #fff,
    560px 1005px #fff,
    760px 244px #fff,
    1692px 305px #fff,
    1368px 125px #fff,
    334px 758px #fff,
    967px 1209px #fff,
    1764px 931px #fff,
    841px 1345px #fff,
    1627px 259px #fff,
    1480px 1397px #fff,
    387px 1554px #fff,
    1849px 419px #fff,
    1478px 1101px #fff,
    1970px 96px #fff,
    1646px 132px #fff,
    1730px 93px #fff,
    1208px 263px #fff,
    726px 1541px #fff,
    39px 1501px #fff,
    206px 1097px #fff,
    379px 580px #fff,
    240px 361px #fff,
    170px 692px #fff,
    1399px 875px #fff,
    190px 970px #fff,
    1893px 907px #fff,
    1702px 1456px #fff,
    557px 1149px #fff,
    1523px 1419px #fff,
    1494px 655px #fff,
    1775px 1913px #fff,
    524px 1473px #fff,
    204px 440px #fff,
    954px 1533px #fff,
    1533px 1215px #fff,
    952px 1076px #fff,
    1634px 1398px #fff,
    295px 966px #fff,
    1471px 721px #fff,
    943px 914px #fff,
    1321px 1385px #fff,
    979px 1676px #fff,
    1286px 1515px #fff,
    1980px 1676px #fff,
    1612px 513px #fff,
    1814px 332px #fff,
    450px 161px #fff,
    710px 1065px #fff,
    1754px 119px #fff,
    188px 546px #fff,
    1253px 1070px #fff,
    117px 654px #fff,
    739px 729px #fff,
    1660px 1554px #fff,
    182px 37px #fff,
    311px 1198px #fff,
    96px 1082px #fff,
    1296px 378px #fff,
    1292px 1835px #fff,
    759px 1634px #fff,
    469px 838px #fff,
    1672px 505px #fff,
    1084px 610px #fff,
    1790px 492px #fff,
    1302px 551px #fff,
    1753px 616px #fff,
    697px 1017px #fff,
    1270px 1880px #fff,
    1175px 167px #fff,
    1846px 1646px #fff,
    1881px 728px #fff,
    394px 578px #fff,
    997px 1838px #fff,
    419px 1661px #fff,
    398px 920px #fff,
    1352px 84px #fff,
    227px 371px #fff,
    488px 292px #fff,
    441px 276px #fff,
    328px 771px #fff,
    30px 1314px #fff,
    472px 928px #fff,
    1734px 439px #fff,
    1597px 219px #fff,
    1164px 1927px #fff,
    619px 867px #fff,
    1869px 376px #fff,
    1514px 620px #fff,
    1333px 691px #fff,
    995px 164px #fff,
    752px 1045px #fff,
    1980px 1017px #fff,
    1370px 1164px #fff,
    1528px 1091px #fff,
    1071px 179px #fff,
    116px 498px #fff,
    1867px 1839px #fff,
    803px 1275px #fff,
    921px 1106px #fff,
    407px 1211px #fff,
    1134px 1252px #fff,
    1031px 1434px #fff,
    1830px 1834px #fff,
    750px 1288px #fff,
    896px 1125px #fff,
    1472px 877px #fff,
    1413px 1291px #fff,
    954px 1683px #fff,
    1731px 1174px #fff,
    241px 1727px #fff,
    1208px 310px #fff,
    1815px 831px #fff,
    828px 861px #fff,
    1481px 648px #fff,
    1988px 592px #fff,
    817px 1197px #fff,
    4px 544px #fff,
    1000px 1775px #fff,
    964px 1066px #fff,
    1698px 886px #fff,
    1298px 241px #fff,
    252px 745px #fff,
    1470px 569px #fff,
    1641px 1484px #fff,
    572px 1148px #fff,
    1066px 1091px #fff,
    636px 1843px #fff,
    408px 1105px #fff,
    1898px 940px #fff,
    556px 33px #fff,
    458px 1552px #fff,
    221px 1444px #fff,
    787px 1032px #fff,
    76px 252px #fff,
    753px 746px #fff,
    1945px 810px #fff,
    1797px 732px #fff,
    1393px 727px #fff,
    13px 432px #fff,
    292px 1617px #fff,
    413px 707px #fff,
    67px 1374px #fff,
    111px 1521px #fff,
    1404px 1017px #fff,
    833px 26px #fff,
    1398px 1059px #fff,
    1396px 619px #fff,
    791px 889px #fff,
    913px 1661px #fff,
    550px 440px #fff,
    1138px 1004px #fff,
    433px 1762px #fff,
    1664px 1660px #fff,
    936px 1270px #fff,
    772px 1796px #fff,
    174px 428px #fff,
    251px 955px #fff,
    1869px 592px #fff,
    612px 242px #fff,
    1738px 1775px #fff,
    1173px 688px #fff,
    547px 1633px #fff,
    1379px 1597px #fff,
    186px 1776px #fff,
    189px 1455px #fff,
    265px 1225px #fff,
    484px 307px #fff,
    941px 1461px #fff,
    1791px 1123px #fff,
    1471px 1010px #fff,
    259px 1662px #fff,
    1483px 1069px #fff,
    1578px 402px #fff,
    1138px 1060px #fff,
    1741px 1837px #fff,
    1817px 17px #fff,
    1099px 689px #fff,
    1306px 21px #fff,
    677px 1226px #fff,
    543px 1278px #fff,
    699px 1927px #fff,
    491px 1274px #fff,
    165px 1082px #fff,
    1903px 468px #fff,
    666px 1182px #fff,
    416px 610px #fff,
    1859px 845px #fff,
    1066px 1136px #fff,
    580px 131px #fff,
    406px 1986px #fff,
    230px 1037px #fff,
    1461px 1966px #fff,
    554px 805px #fff,
    612px 1340px #fff,
    214px 1457px #fff,
    549px 1935px #fff,
    335px 1468px #fff,
    721px 768px #fff,
    533px 1850px #fff,
    518px 1792px #fff,
    1774px 1672px #fff,
    637px 1694px #fff,
    648px 1007px #fff,
    162px 985px #fff,
    1791px 306px #fff,
    1170px 403px #fff,
    105px 85px #fff,
    1800px 1240px #fff,
    809px 1224px #fff,
    1584px 1422px #fff,
    504px 1517px #fff,
    205px 1532px #fff,
    667px 1592px #fff,
    1105px 990px #fff,
    112px 117px #fff,
    409px 1781px #fff,
    915px 581px #fff,
    1285px 212px #fff,
    1697px 1957px #fff,
    252px 1942px #fff,
    954px 1581px #fff,
    508px 4px #fff,
    1497px 688px #fff,
    1914px 1395px #fff,
    1836px 680px #fff,
    982px 1834px #fff,
    311px 228px #fff,
    214px 1686px #fff,
    245px 1424px #fff,
    346px 339px #fff,
    345px 1743px #fff,
    1921px 1608px #fff,
    1124px 534px #fff,
    722px 1914px #fff,
    748px 538px #fff,
    1118px 925px #fff,
    421px 1097px #fff,
    1388px 671px #fff,
    1706px 395px #fff,
    1754px 1968px #fff,
    1644px 1644px #fff,
    1127px 617px #fff,
    688px 1802px #fff,
    1141px 254px #fff,
    1109px 80px #fff,
    367px 1889px #fff,
    1014px 876px #fff,
    1185px 1949px #fff,
    1942px 1121px #fff,
    269px 1520px #fff,
    399px 1832px #fff,
    1698px 73px #fff,
    1941px 1683px #fff,
    1078px 1493px #fff,
    859px 885px #fff,
    1560px 1118px #fff,
    693px 866px #fff,
    38px 885px #fff,
    1361px 507px #fff,
    48px 637px #fff,
    513px 426px #fff,
    1404px 1503px #fff,
    354px 1086px #fff,
    1968px 437px #fff,
    1022px 1349px #fff,
    1662px 707px #fff,
    1304px 738px #fff,
    1349px 574px #fff,
    320px 242px #fff,
    1856px 594px #fff,
    921px 1966px #fff,
    1117px 1274px #fff,
    899px 1083px #fff,
    1338px 1433px #fff,
    1147px 121px #fff,
    1024px 1639px #fff,
    1929px 1676px #fff,
    1802px 1981px #fff,
    1419px 541px #fff,
    325px 1788px #fff,
    64px 319px #fff,
    644px 553px #fff,
    378px 967px #fff,
    1119px 404px #fff,
    1463px 1553px #fff,
    461px 454px #fff,
    1389px 1883px #fff,
    1703px 1015px #fff,
    445px 1383px #fff,
    377px 1561px #fff,
    1525px 1916px #fff,
    1570px 551px #fff,
    608px 1875px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1377px 879px #fff,
    957px 911px #fff,
    3px 1750px #fff,
    936px 626px #fff,
    760px 588px #fff,
    807px 1236px #fff,
    870px 404px #fff,
    51px 1013px #fff,
    894px 1650px #fff,
    1944px 1812px #fff,
    1984px 672px #fff,
    1702px 1135px #fff,
    1473px 736px #fff,
    525px 1242px #fff,
    870px 984px #fff,
    970px 454px #fff,
    29px 288px #fff,
    346px 1000px #fff,
    1727px 1325px #fff,
    596px 635px #fff,
    1800px 1700px #fff,
    853px 1885px #fff,
    776px 1103px #fff,
    121px 54px #fff,
    1166px 464px #fff,
    146px 886px #fff,
    44px 663px #fff,
    6px 317px #fff,
    1158px 403px #fff,
    1225px 402px #fff,
    1577px 1257px #fff,
    1231px 547px #fff,
    1003px 1943px #fff,
    281px 1349px #fff,
    56px 1825px #fff,
    1308px 68px #fff,
    470px 1585px #fff,
    1917px 1616px #fff,
    981px 166px #fff,
    562px 1455px #fff,
    1710px 1383px #fff,
    215px 998px #fff,
    674px 1640px #fff,
    1297px 960px #fff,
    375px 808px #fff,
    1500px 1162px #fff,
    1052px 1678px #fff,
    1356px 1329px #fff,
    181px 330px #fff,
    1490px 1297px #fff,
    1606px 699px #fff,
    535px 1699px #fff,
    1981px 1444px #fff,
    1733px 226px #fff,
    1485px 1630px #fff,
    1532px 1283px #fff,
    1641px 1368px #fff,
    902px 1933px #fff,
    1148px 1504px #fff,
    529px 671px #fff,
    1268px 1175px #fff,
    128px 1277px #fff,
    145px 774px #fff,
    1262px 1525px #fff,
    409px 350px #fff,
    607px 205px #fff,
    731px 1405px #fff,
    1215px 589px #fff,
    929px 279px #fff,
    1082px 1564px #fff,
    670px 1798px #fff,
    1505px 903px #fff,
    1837px 106px #fff,
    220px 1375px #fff,
    1944px 436px #fff,
    462px 1566px #fff,
    1249px 856px #fff,
    1207px 912px #fff,
    285px 854px #fff,
    1844px 1461px #fff,
    242px 73px #fff,
    505px 1083px #fff,
    1648px 122px #fff,
    1906px 547px #fff,
    184px 714px #fff,
    1972px 1597px #fff,
    1301px 865px #fff,
    1465px 591px #fff,
    783px 653px #fff,
    824px 1413px #fff,
    190px 1094px #fff,
    1409px 353px #fff,
    134px 896px #fff,
    1909px 27px #fff,
    1615px 1242px #fff,
    1116px 483px #fff,
    729px 1690px #fff,
    1908px 1538px #fff,
    462px 524px #fff,
    103px 108px #fff,
    1762px 1820px #fff,
    496px 1870px #fff,
    358px 85px #fff,
    675px 1308px #fff,
    672px 434px #fff,
    470px 388px #fff,
    1367px 1222px #fff,
    1600px 1874px #fff,
    534px 437px #fff,
    1779px 1667px #fff,
    1646px 1205px #fff,
    1644px 1713px #fff,
    1778px 329px #fff,
    246px 1956px #fff,
    194px 161px #fff,
    246px 1714px #fff,
    1838px 1481px #fff,
    1875px 1505px #fff,
    1221px 1037px #fff,
    1862px 1539px #fff,
    985px 1507px #fff,
    380px 655px #fff,
    721px 605px #fff,
    757px 49px #fff,
    843px 1588px #fff,
    1823px 873px #fff,
    1525px 1494px #fff,
    24px 696px #fff,
    1902px 1354px #fff,
    1200px 600px #fff,
    659px 368px #fff,
    309px 166px #fff,
    764px 1922px #fff,
    1499px 925px #fff,
    247px 1749px #fff,
    946px 1783px #fff,
    1451px 1389px #fff,
    342px 68px #fff,
    1951px 1653px #fff,
    1314px 483px #fff,
    1963px 1486px #fff,
    770px 488px #fff,
    483px 1900px #fff,
    1045px 1803px #fff,
    880px 93px #fff,
    443px 756px #fff,
    38px 1349px #fff,
    1746px 1925px #fff,
    1697px 1528px #fff,
    1512px 972px #fff,
    683px 572px #fff,
    1653px 1031px #fff,
    748px 1786px #fff,
    1609px 1868px #fff,
    103px 1207px #fff,
    1938px 1492px #fff,
    1298px 274px #fff,
    1328px 1978px #fff,
    1978px 1216px #fff,
    1795px 1221px #fff,
    121px 1338px #fff,
    9px 965px #fff,
    705px 1488px #fff,
    1641px 469px #fff,
    1721px 130px #fff,
    1539px 345px #fff,
    1948px 818px #fff,
    87px 476px #fff,
    281px 1773px #fff,
    587px 668px #fff,
    1204px 1916px #fff,
    1235px 114px #fff,
    214px 90px #fff,
    1839px 510px #fff,
    1092px 804px #fff,
    1240px 733px #fff,
    1319px 1168px #fff,
    168px 417px #fff,
    320px 568px #fff,
    712px 1327px #fff,
    926px 654px #fff,
    1608px 1338px #fff,
    1568px 1443px #fff,
    447px 1575px #fff,
    1685px 1265px #fff,
    253px 883px #fff,
    540px 388px #fff,
    932px 1774px #fff,
    535px 1786px #fff,
    212px 655px #fff,
    1844px 1028px #fff,
    1396px 1340px #fff,
    793px 1028px #fff,
    943px 1842px #fff,
    1202px 866px #fff,
    1152px 1718px #fff,
    925px 1012px #fff,
    1226px 245px #fff,
    625px 1104px #fff,
    267px 564px #fff,
    256px 79px #fff,
    1963px 73px #fff,
    202px 1097px #fff,
    1378px 533px #fff,
    966px 302px #fff,
    1647px 1415px #fff,
    1764px 615px #fff,
    1206px 98px #fff,
    1330px 1979px #fff,
    1402px 973px #fff,
    666px 930px #fff,
    1614px 1076px #fff,
    202px 464px #fff,
    851px 257px #fff,
    893px 1335px #fff,
    385px 94px #fff,
    266px 586px #fff,
    190px 578px #fff,
    609px 285px #fff,
    906px 395px #fff,
    554px 1133px #fff,
    1461px 1437px #fff,
    257px 135px #fff,
    345px 666px #fff,
    1839px 955px #fff,
    1444px 695px #fff,
    567px 54px #fff,
    1292px 1253px #fff,
    982px 198px #fff,
    946px 1013px #fff,
    1361px 639px #fff,
    1577px 291px #fff,
    860px 327px #fff,
    760px 1302px #fff,
    226px 1237px #fff,
    1286px 419px #fff,
    1046px 1048px #fff,
    704px 969px #fff,
    414px 805px #fff,
    279px 205px #fff,
    1453px 1380px #fff,
    801px 120px #fff,
    72px 1858px #fff,
    1136px 672px #fff,
    4px 948px #fff,
    1941px 535px #fff,
    1589px 313px #fff,
    500px 1547px #fff,
    1686px 731px #fff,
    1151px 1942px #fff,
    264px 1559px #fff,
    1137px 304px #fff,
    1222px 695px #fff,
    146px 988px #fff,
    1370px 1940px #fff,
    344px 1346px #fff,
    890px 808px #fff,
    1214px 1227px #fff,
    1810px 1918px #fff,
    1801px 1445px #fff,
    1393px 1427px #fff,
    1871px 436px #fff,
    947px 1389px #fff,
    604px 1454px #fff,
    1705px 1758px #fff,
    453px 527px #fff,
    1844px 378px #fff,
    341px 1054px #fff,
    1414px 289px #fff,
    385px 115px #fff,
    782px 257px #fff,
    363px 925px #fff,
    1166px 1375px #fff,
    636px 458px #fff,
    1401px 206px #fff,
    668px 183px #fff,
    1970px 77px #fff,
    781px 887px #fff,
    1001px 1753px #fff,
    358px 537px #fff,
    23px 676px #fff,
    60px 1483px #fff,
    196px 1689px #fff,
    1830px 56px #fff,
    1766px 1385px #fff,
    1849px 1669px #fff,
    1421px 1499px #fff,
    82px 620px #fff,
    524px 1443px #fff,
    1911px 1735px #fff,
    198px 1038px #fff,
    932px 781px #fff,
    74px 255px #fff,
    1255px 1908px #fff,
    711px 1571px #fff,
    76px 1190px #fff,
    280px 1434px #fff,
    1593px 900px #fff,
    1552px 1178px #fff,
    762px 688px #fff,
    810px 1150px #fff,
    765px 383px #fff,
    1108px 1385px #fff,
    185px 383px #fff,
    1934px 1669px #fff,
    1650px 675px #fff,
    9px 50px #fff,
    952px 1042px #fff,
    1568px 1329px #fff,
    1909px 1032px #fff,
    1712px 1325px #fff,
    148px 1715px #fff,
    1823px 1972px #fff,
    23px 1494px #fff,
    1763px 1782px #fff,
    430px 189px #fff,
    1480px 364px #fff,
    1933px 1802px #fff,
    383px 1174px #fff,
    52px 903px #fff,
    858px 1147px #fff,
    1114px 367px #fff,
    1719px 1878px #fff,
    1226px 625px #fff,
    229px 270px #fff,
    688px 1938px #fff,
    346px 39px #fff,
    51px 1606px #fff,
    1467px 315px #fff,
    1049px 705px #fff,
    1621px 395px #fff,
    1472px 1196px #fff,
    531px 2000px #fff,
    325px 230px #fff,
    878px 1094px #fff,
    1815px 756px #fff,
    694px 427px #fff,
    1205px 387px #fff,
    354px 955px #fff,
    1432px 903px #fff,
    329px 84px #fff,
    1687px 1968px #fff,
    117px 103px #fff,
    1809px 776px #fff,
    1964px 1932px #fff,
    1679px 304px #fff,
    855px 1431px #fff,
    289px 1445px #fff,
    1210px 184px #fff,
    1381px 1416px #fff,
    118px 1270px #fff,
    140px 102px #fff,
    1148px 350px #fff,
    545px 1077px #fff,
    1304px 886px #fff,
    1474px 64px #fff,
    317px 1669px #fff,
    190px 1319px #fff,
    1380px 486px #fff,
    531px 1750px #fff,
    1407px 1365px #fff,
    245px 290px #fff,
    368px 1355px #fff,
    1205px 1261px #fff,
    6px 746px #fff,
    549px 50px #fff,
    838px 658px #fff,
    1103px 1747px #fff,
    1244px 772px #fff,
    534px 545px #fff,
    1px 118px #fff,
    1507px 765px #fff,
    1017px 1615px #fff,
    965px 146px #fff,
    389px 108px #fff,
    1234px 1725px #fff,
    235px 1854px #fff,
    1151px 974px #fff,
    784px 472px #fff,
    1408px 1876px #fff,
    229px 1834px #fff,
    981px 1550px #fff,
    117px 1394px #fff,
    676px 1919px #fff,
    452px 1385px #fff,
    1566px 865px #fff,
    63px 1826px #fff,
    892px 780px #fff,
    1772px 1456px #fff,
    951px 1608px #fff,
    251px 1592px #fff,
    1989px 1619px #fff,
    1457px 627px #fff,
    509px 1790px #fff,
    822px 718px #fff,
    1489px 1493px #fff,
    748px 1248px #fff,
    1131px 265px #fff,
    920px 1418px #fff,
    872px 467px #fff,
    138px 1730px #fff,
    228px 406px #fff,
    1846px 1975px #fff,
    1733px 610px #fff,
    559px 492px #fff,
    1789px 744px #fff,
    1587px 1156px #fff,
    560px 1005px #fff,
    760px 244px #fff,
    1692px 305px #fff,
    1368px 125px #fff,
    334px 758px #fff,
    967px 1209px #fff,
    1764px 931px #fff,
    841px 1345px #fff,
    1627px 259px #fff,
    1480px 1397px #fff,
    387px 1554px #fff,
    1849px 419px #fff,
    1478px 1101px #fff,
    1970px 96px #fff,
    1646px 132px #fff,
    1730px 93px #fff,
    1208px 263px #fff,
    726px 1541px #fff,
    39px 1501px #fff,
    206px 1097px #fff,
    379px 580px #fff,
    240px 361px #fff,
    170px 692px #fff,
    1399px 875px #fff,
    190px 970px #fff,
    1893px 907px #fff,
    1702px 1456px #fff,
    557px 1149px #fff,
    1523px 1419px #fff,
    1494px 655px #fff,
    1775px 1913px #fff,
    524px 1473px #fff,
    204px 440px #fff,
    954px 1533px #fff,
    1533px 1215px #fff,
    952px 1076px #fff,
    1634px 1398px #fff,
    295px 966px #fff,
    1471px 721px #fff,
    943px 914px #fff,
    1321px 1385px #fff,
    979px 1676px #fff,
    1286px 1515px #fff,
    1980px 1676px #fff,
    1612px 513px #fff,
    1814px 332px #fff,
    450px 161px #fff,
    710px 1065px #fff,
    1754px 119px #fff,
    188px 546px #fff,
    1253px 1070px #fff,
    117px 654px #fff,
    739px 729px #fff,
    1660px 1554px #fff,
    182px 37px #fff,
    311px 1198px #fff,
    96px 1082px #fff,
    1296px 378px #fff,
    1292px 1835px #fff,
    759px 1634px #fff,
    469px 838px #fff,
    1672px 505px #fff,
    1084px 610px #fff,
    1790px 492px #fff,
    1302px 551px #fff,
    1753px 616px #fff,
    697px 1017px #fff,
    1270px 1880px #fff,
    1175px 167px #fff,
    1846px 1646px #fff,
    1881px 728px #fff,
    394px 578px #fff,
    997px 1838px #fff,
    419px 1661px #fff,
    398px 920px #fff,
    1352px 84px #fff,
    227px 371px #fff,
    488px 292px #fff,
    441px 276px #fff,
    328px 771px #fff,
    30px 1314px #fff,
    472px 928px #fff,
    1734px 439px #fff,
    1597px 219px #fff,
    1164px 1927px #fff,
    619px 867px #fff,
    1869px 376px #fff,
    1514px 620px #fff,
    1333px 691px #fff,
    995px 164px #fff,
    752px 1045px #fff,
    1980px 1017px #fff,
    1370px 1164px #fff,
    1528px 1091px #fff,
    1071px 179px #fff,
    116px 498px #fff,
    1867px 1839px #fff,
    803px 1275px #fff,
    921px 1106px #fff,
    407px 1211px #fff,
    1134px 1252px #fff,
    1031px 1434px #fff,
    1830px 1834px #fff,
    750px 1288px #fff,
    896px 1125px #fff,
    1472px 877px #fff,
    1413px 1291px #fff,
    954px 1683px #fff,
    1731px 1174px #fff,
    241px 1727px #fff,
    1208px 310px #fff,
    1815px 831px #fff,
    828px 861px #fff,
    1481px 648px #fff,
    1988px 592px #fff,
    817px 1197px #fff,
    4px 544px #fff,
    1000px 1775px #fff,
    964px 1066px #fff,
    1698px 886px #fff,
    1298px 241px #fff,
    252px 745px #fff,
    1470px 569px #fff,
    1641px 1484px #fff,
    572px 1148px #fff,
    1066px 1091px #fff,
    636px 1843px #fff,
    408px 1105px #fff,
    1898px 940px #fff,
    556px 33px #fff,
    458px 1552px #fff,
    221px 1444px #fff,
    787px 1032px #fff,
    76px 252px #fff,
    753px 746px #fff,
    1945px 810px #fff,
    1797px 732px #fff,
    1393px 727px #fff,
    13px 432px #fff,
    292px 1617px #fff,
    413px 707px #fff,
    67px 1374px #fff,
    111px 1521px #fff,
    1404px 1017px #fff,
    833px 26px #fff,
    1398px 1059px #fff,
    1396px 619px #fff,
    791px 889px #fff,
    913px 1661px #fff,
    550px 440px #fff,
    1138px 1004px #fff,
    433px 1762px #fff,
    1664px 1660px #fff,
    936px 1270px #fff,
    772px 1796px #fff,
    174px 428px #fff,
    251px 955px #fff,
    1869px 592px #fff,
    612px 242px #fff,
    1738px 1775px #fff,
    1173px 688px #fff,
    547px 1633px #fff,
    1379px 1597px #fff,
    186px 1776px #fff,
    189px 1455px #fff,
    265px 1225px #fff,
    484px 307px #fff,
    941px 1461px #fff,
    1791px 1123px #fff,
    1471px 1010px #fff,
    259px 1662px #fff,
    1483px 1069px #fff,
    1578px 402px #fff,
    1138px 1060px #fff,
    1741px 1837px #fff,
    1817px 17px #fff,
    1099px 689px #fff,
    1306px 21px #fff,
    677px 1226px #fff,
    543px 1278px #fff,
    699px 1927px #fff,
    491px 1274px #fff,
    165px 1082px #fff,
    1903px 468px #fff,
    666px 1182px #fff,
    416px 610px #fff,
    1859px 845px #fff,
    1066px 1136px #fff,
    580px 131px #fff,
    406px 1986px #fff,
    230px 1037px #fff,
    1461px 1966px #fff,
    554px 805px #fff,
    612px 1340px #fff,
    214px 1457px #fff,
    549px 1935px #fff,
    335px 1468px #fff,
    721px 768px #fff,
    533px 1850px #fff,
    518px 1792px #fff,
    1774px 1672px #fff,
    637px 1694px #fff,
    648px 1007px #fff,
    162px 985px #fff,
    1791px 306px #fff,
    1170px 403px #fff,
    105px 85px #fff,
    1800px 1240px #fff,
    809px 1224px #fff,
    1584px 1422px #fff,
    504px 1517px #fff,
    205px 1532px #fff,
    667px 1592px #fff,
    1105px 990px #fff,
    112px 117px #fff,
    409px 1781px #fff,
    915px 581px #fff,
    1285px 212px #fff,
    1697px 1957px #fff,
    252px 1942px #fff,
    954px 1581px #fff,
    508px 4px #fff,
    1497px 688px #fff,
    1914px 1395px #fff,
    1836px 680px #fff,
    982px 1834px #fff,
    311px 228px #fff,
    214px 1686px #fff,
    245px 1424px #fff,
    346px 339px #fff,
    345px 1743px #fff,
    1921px 1608px #fff,
    1124px 534px #fff,
    722px 1914px #fff,
    748px 538px #fff,
    1118px 925px #fff,
    421px 1097px #fff,
    1388px 671px #fff,
    1706px 395px #fff,
    1754px 1968px #fff,
    1644px 1644px #fff,
    1127px 617px #fff,
    688px 1802px #fff,
    1141px 254px #fff,
    1109px 80px #fff,
    367px 1889px #fff,
    1014px 876px #fff,
    1185px 1949px #fff,
    1942px 1121px #fff,
    269px 1520px #fff,
    399px 1832px #fff,
    1698px 73px #fff,
    1941px 1683px #fff,
    1078px 1493px #fff,
    859px 885px #fff,
    1560px 1118px #fff,
    693px 866px #fff,
    38px 885px #fff,
    1361px 507px #fff,
    48px 637px #fff,
    513px 426px #fff,
    1404px 1503px #fff,
    354px 1086px #fff,
    1968px 437px #fff,
    1022px 1349px #fff,
    1662px 707px #fff,
    1304px 738px #fff,
    1349px 574px #fff,
    320px 242px #fff,
    1856px 594px #fff,
    921px 1966px #fff,
    1117px 1274px #fff,
    899px 1083px #fff,
    1338px 1433px #fff,
    1147px 121px #fff,
    1024px 1639px #fff,
    1929px 1676px #fff,
    1802px 1981px #fff,
    1419px 541px #fff,
    325px 1788px #fff,
    64px 319px #fff,
    644px 553px #fff,
    378px 967px #fff,
    1119px 404px #fff,
    1463px 1553px #fff,
    461px 454px #fff,
    1389px 1883px #fff,
    1703px 1015px #fff,
    445px 1383px #fff,
    377px 1561px #fff,
    1525px 1916px #fff,
    1570px 551px #fff,
    608px 1875px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    554px 281px #fff,
    382px 711px #fff,
    1082px 383px #fff,
    555px 902px #fff,
    79px 1253px #fff,
    318px 797px #fff,
    855px 836px #fff,
    318px 1610px #fff,
    426px 1670px #fff,
    991px 964px #fff,
    240px 212px #fff,
    1911px 720px #fff,
    1611px 366px #fff,
    1034px 593px #fff,
    1162px 1669px #fff,
    248px 1577px #fff,
    427px 973px #fff,
    1211px 1370px #fff,
    1739px 251px #fff,
    352px 1772px #fff,
    1583px 1987px #fff,
    415px 29px #fff,
    327px 1334px #fff,
    1891px 1963px #fff,
    710px 840px #fff,
    934px 1561px #fff,
    859px 1950px #fff,
    203px 1538px #fff,
    678px 1844px #fff,
    1412px 170px #fff,
    532px 1811px #fff,
    786px 1699px #fff,
    1325px 558px #fff,
    381px 1753px #fff,
    1464px 833px #fff,
    424px 1598px #fff,
    77px 1966px #fff,
    1063px 963px #fff,
    139px 1449px #fff,
    297px 1137px #fff,
    1913px 353px #fff,
    648px 1966px #fff,
    1729px 1154px #fff,
    1162px 499px #fff,
    196px 1258px #fff,
    1390px 731px #fff,
    1645px 899px #fff,
    1938px 821px #fff,
    1942px 655px #fff,
    223px 885px #fff,
    373px 1521px #fff,
    1004px 1465px #fff,
    551px 818px #fff,
    1098px 315px #fff,
    482px 1577px #fff,
    1419px 561px #fff,
    488px 418px #fff,
    1450px 1535px #fff,
    585px 746px #fff,
    1243px 992px #fff,
    1731px 1675px #fff,
    299px 557px #fff,
    1903px 903px #fff,
    1724px 1745px #fff,
    1920px 1291px #fff,
    1757px 202px #fff,
    339px 1166px #fff,
    519px 1968px #fff,
    1602px 704px #fff,
    1375px 830px #fff,
    32px 1938px #fff,
    716px 314px #fff,
    1144px 271px #fff,
    1081px 1044px #fff,
    1334px 221px #fff,
    1811px 732px #fff,
    157px 1269px #fff,
    465px 509px #fff,
    159px 513px #fff,
    852px 1739px #fff,
    649px 1446px #fff,
    452px 407px #fff,
    2px 731px #fff,
    418px 1166px #fff,
    1318px 612px #fff,
    163px 91px #fff,
    1904px 476px #fff,
    1926px 1864px #fff,
    176px 1212px #fff,
    1054px 1234px #fff,
    679px 921px #fff,
    951px 1063px #fff,
    1999px 750px #fff,
    1307px 1173px #fff,
    91px 272px #fff,
    182px 1448px #fff,
    1740px 1232px #fff,
    112px 724px #fff,
    737px 1935px #fff,
    899px 445px #fff,
    1145px 1901px #fff,
    978px 1418px #fff,
    1956px 1090px #fff,
    1902px 376px #fff,
    1712px 1661px #fff,
    606px 524px #fff,
    1541px 1680px #fff,
    114px 907px #fff,
    174px 490px #fff,
    1793px 1410px #fff,
    1808px 1028px #fff,
    1218px 1495px #fff,
    1242px 559px #fff,
    1053px 910px #fff,
    1377px 232px #fff,
    767px 1053px #fff,
    442px 432px #fff,
    1978px 818px #fff,
    54px 1079px #fff,
    544px 1968px #fff,
    752px 64px #fff,
    1203px 1226px #fff,
    1022px 1835px #fff,
    1585px 1374px #fff,
    1292px 1699px #fff,
    413px 236px #fff,
    762px 866px #fff,
    1661px 95px #fff,
    246px 804px #fff,
    1798px 660px #fff,
    1241px 1830px #fff,
    615px 564px #fff,
    1618px 892px #fff,
    178px 848px #fff,
    489px 1759px #fff,
    1577px 736px #fff,
    1948px 1572px #fff,
    32px 1547px #fff,
    1508px 1149px #fff,
    1223px 1687px #fff,
    364px 176px #fff,
    1183px 1929px #fff,
    988px 499px #fff,
    1238px 765px #fff,
    1479px 1583px #fff,
    1014px 788px #fff,
    694px 626px #fff,
    23px 805px #fff,
    911px 955px #fff,
    1465px 1156px #fff,
    645px 1056px #fff,
    692px 569px #fff,
    1699px 1036px #fff,
    1413px 633px #fff,
    1976px 1628px #fff,
    105px 1566px #fff,
    1815px 1987px #fff,
    1408px 3px #fff,
    1040px 1520px #fff,
    1856px 197px #fff,
    1041px 186px #fff,
    483px 916px #fff,
    1157px 965px #fff,
    1102px 1830px #fff,
    8px 964px #fff,
    865px 640px #fff,
    664px 659px #fff,
    1663px 1362px #fff,
    1790px 1492px #fff,
    163px 182px #fff,
    1894px 1904px #fff,
    149px 821px #fff,
    916px 73px #fff,
    1452px 336px #fff,
    651px 1623px #fff,
    407px 1278px #fff,
    731px 313px #fff,
    1642px 1491px #fff,
    883px 933px #fff,
    109px 1018px #fff,
    1253px 1343px #fff,
    1406px 1741px #fff,
    1634px 497px #fff,
    733px 274px #fff,
    1384px 773px #fff,
    1199px 1645px #fff,
    1787px 773px #fff,
    1029px 1412px #fff,
    1094px 253px #fff,
    1060px 316px #fff,
    596px 108px #fff,
    616px 1166px #fff,
    634px 314px #fff,
    754px 926px #fff,
    779px 37px #fff,
    922px 829px #fff,
    1107px 1473px #fff,
    515px 715px #fff,
    936px 662px #fff,
    1064px 1671px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    554px 281px #fff,
    382px 711px #fff,
    1082px 383px #fff,
    555px 902px #fff,
    79px 1253px #fff,
    318px 797px #fff,
    855px 836px #fff,
    318px 1610px #fff,
    426px 1670px #fff,
    991px 964px #fff,
    240px 212px #fff,
    1911px 720px #fff,
    1611px 366px #fff,
    1034px 593px #fff,
    1162px 1669px #fff,
    248px 1577px #fff,
    427px 973px #fff,
    1211px 1370px #fff,
    1739px 251px #fff,
    352px 1772px #fff,
    1583px 1987px #fff,
    415px 29px #fff,
    327px 1334px #fff,
    1891px 1963px #fff,
    710px 840px #fff,
    934px 1561px #fff,
    859px 1950px #fff,
    203px 1538px #fff,
    678px 1844px #fff,
    1412px 170px #fff,
    532px 1811px #fff,
    786px 1699px #fff,
    1325px 558px #fff,
    381px 1753px #fff,
    1464px 833px #fff,
    424px 1598px #fff,
    77px 1966px #fff,
    1063px 963px #fff,
    139px 1449px #fff,
    297px 1137px #fff,
    1913px 353px #fff,
    648px 1966px #fff,
    1729px 1154px #fff,
    1162px 499px #fff,
    196px 1258px #fff,
    1390px 731px #fff,
    1645px 899px #fff,
    1938px 821px #fff,
    1942px 655px #fff,
    223px 885px #fff,
    373px 1521px #fff,
    1004px 1465px #fff,
    551px 818px #fff,
    1098px 315px #fff,
    482px 1577px #fff,
    1419px 561px #fff,
    488px 418px #fff,
    1450px 1535px #fff,
    585px 746px #fff,
    1243px 992px #fff,
    1731px 1675px #fff,
    299px 557px #fff,
    1903px 903px #fff,
    1724px 1745px #fff,
    1920px 1291px #fff,
    1757px 202px #fff,
    339px 1166px #fff,
    519px 1968px #fff,
    1602px 704px #fff,
    1375px 830px #fff,
    32px 1938px #fff,
    716px 314px #fff,
    1144px 271px #fff,
    1081px 1044px #fff,
    1334px 221px #fff,
    1811px 732px #fff,
    157px 1269px #fff,
    465px 509px #fff,
    159px 513px #fff,
    852px 1739px #fff,
    649px 1446px #fff,
    452px 407px #fff,
    2px 731px #fff,
    418px 1166px #fff,
    1318px 612px #fff,
    163px 91px #fff,
    1904px 476px #fff,
    1926px 1864px #fff,
    176px 1212px #fff,
    1054px 1234px #fff,
    679px 921px #fff,
    951px 1063px #fff,
    1999px 750px #fff,
    1307px 1173px #fff,
    91px 272px #fff,
    182px 1448px #fff,
    1740px 1232px #fff,
    112px 724px #fff,
    737px 1935px #fff,
    899px 445px #fff,
    1145px 1901px #fff,
    978px 1418px #fff,
    1956px 1090px #fff,
    1902px 376px #fff,
    1712px 1661px #fff,
    606px 524px #fff,
    1541px 1680px #fff,
    114px 907px #fff,
    174px 490px #fff,
    1793px 1410px #fff,
    1808px 1028px #fff,
    1218px 1495px #fff,
    1242px 559px #fff,
    1053px 910px #fff,
    1377px 232px #fff,
    767px 1053px #fff,
    442px 432px #fff,
    1978px 818px #fff,
    54px 1079px #fff,
    544px 1968px #fff,
    752px 64px #fff,
    1203px 1226px #fff,
    1022px 1835px #fff,
    1585px 1374px #fff,
    1292px 1699px #fff,
    413px 236px #fff,
    762px 866px #fff,
    1661px 95px #fff,
    246px 804px #fff,
    1798px 660px #fff,
    1241px 1830px #fff,
    615px 564px #fff,
    1618px 892px #fff,
    178px 848px #fff,
    489px 1759px #fff,
    1577px 736px #fff,
    1948px 1572px #fff,
    32px 1547px #fff,
    1508px 1149px #fff,
    1223px 1687px #fff,
    364px 176px #fff,
    1183px 1929px #fff,
    988px 499px #fff,
    1238px 765px #fff,
    1479px 1583px #fff,
    1014px 788px #fff,
    694px 626px #fff,
    23px 805px #fff,
    911px 955px #fff,
    1465px 1156px #fff,
    645px 1056px #fff,
    692px 569px #fff,
    1699px 1036px #fff,
    1413px 633px #fff,
    1976px 1628px #fff,
    105px 1566px #fff,
    1815px 1987px #fff,
    1408px 3px #fff,
    1040px 1520px #fff,
    1856px 197px #fff,
    1041px 186px #fff,
    483px 916px #fff,
    1157px 965px #fff,
    1102px 1830px #fff,
    8px 964px #fff,
    865px 640px #fff,
    664px 659px #fff,
    1663px 1362px #fff,
    1790px 1492px #fff,
    163px 182px #fff,
    1894px 1904px #fff,
    149px 821px #fff,
    916px 73px #fff,
    1452px 336px #fff,
    651px 1623px #fff,
    407px 1278px #fff,
    731px 313px #fff,
    1642px 1491px #fff,
    883px 933px #fff,
    109px 1018px #fff,
    1253px 1343px #fff,
    1406px 1741px #fff,
    1634px 497px #fff,
    733px 274px #fff,
    1384px 773px #fff,
    1199px 1645px #fff,
    1787px 773px #fff,
    1029px 1412px #fff,
    1094px 253px #fff,
    1060px 316px #fff,
    596px 108px #fff,
    616px 1166px #fff,
    634px 314px #fff,
    754px 926px #fff,
    779px 37px #fff,
    922px 829px #fff,
    1107px 1473px #fff,
    515px 715px #fff,
    936px 662px #fff,
    1064px 1671px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    575px 1022px #fff,
    686px 1618px #fff,
    1467px 583px #fff,
    216px 1016px #fff,
    1620px 550px #fff,
    535px 733px #fff,
    407px 720px #fff,
    629px 372px #fff,
    538px 1848px #fff,
    211px 118px #fff,
    908px 1856px #fff,
    889px 995px #fff,
    372px 666px #fff,
    695px 1080px #fff,
    1956px 1063px #fff,
    496px 9px #fff,
    394px 430px #fff,
    1230px 979px #fff,
    747px 1038px #fff,
    1564px 681px #fff,
    492px 197px #fff,
    157px 1681px #fff,
    1451px 284px #fff,
    698px 180px #fff,
    1810px 324px #fff,
    1044px 1388px #fff,
    1322px 348px #fff,
    267px 1568px #fff,
    405px 617px #fff,
    1709px 1903px #fff,
    475px 161px #fff,
    448px 1097px #fff,
    881px 1100px #fff,
    57px 209px #fff,
    406px 1807px #fff,
    1956px 1761px #fff,
    122px 1069px #fff,
    998px 641px #fff,
    1379px 431px #fff,
    1197px 1880px #fff,
    1681px 1242px #fff,
    24px 369px #fff,
    1048px 987px #fff,
    183px 1375px #fff,
    856px 788px #fff,
    1943px 1078px #fff,
    79px 1770px #fff,
    566px 1499px #fff,
    1090px 1244px #fff,
    1034px 1823px #fff,
    1231px 223px #fff,
    210px 1833px #fff,
    1329px 312px #fff,
    742px 1209px #fff,
    885px 1811px #fff,
    462px 1922px #fff,
    184px 1829px #fff,
    327px 309px #fff,
    618px 1412px #fff,
    526px 1121px #fff,
    1907px 1472px #fff,
    255px 1288px #fff,
    1774px 132px #fff,
    214px 334px #fff,
    566px 1378px #fff,
    1369px 680px #fff,
    1695px 557px #fff,
    930px 801px #fff,
    215px 1090px #fff,
    1792px 1696px #fff,
    1677px 1641px #fff,
    1915px 1160px #fff,
    991px 87px #fff,
    527px 49px #fff,
    1587px 1595px #fff,
    536px 670px #fff,
    1241px 470px #fff,
    1962px 411px #fff,
    1163px 1786px #fff,
    88px 675px #fff,
    1446px 1280px #fff,
    1945px 683px #fff,
    1723px 1307px #fff,
    1675px 1941px #fff,
    1168px 678px #fff,
    1191px 238px #fff,
    925px 1744px #fff,
    1350px 1868px #fff,
    1052px 1155px #fff,
    1997px 1527px #fff,
    991px 1453px #fff,
    676px 1209px #fff,
    1008px 860px #fff,
    1484px 245px #fff,
    1645px 814px #fff,
    1382px 183px #fff,
    930px 767px #fff,
    477px 1793px #fff,
    1579px 1610px #fff,
    1854px 1810px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    575px 1022px #fff,
    686px 1618px #fff,
    1467px 583px #fff,
    216px 1016px #fff,
    1620px 550px #fff,
    535px 733px #fff,
    407px 720px #fff,
    629px 372px #fff,
    538px 1848px #fff,
    211px 118px #fff,
    908px 1856px #fff,
    889px 995px #fff,
    372px 666px #fff,
    695px 1080px #fff,
    1956px 1063px #fff,
    496px 9px #fff,
    394px 430px #fff,
    1230px 979px #fff,
    747px 1038px #fff,
    1564px 681px #fff,
    492px 197px #fff,
    157px 1681px #fff,
    1451px 284px #fff,
    698px 180px #fff,
    1810px 324px #fff,
    1044px 1388px #fff,
    1322px 348px #fff,
    267px 1568px #fff,
    405px 617px #fff,
    1709px 1903px #fff,
    475px 161px #fff,
    448px 1097px #fff,
    881px 1100px #fff,
    57px 209px #fff,
    406px 1807px #fff,
    1956px 1761px #fff,
    122px 1069px #fff,
    998px 641px #fff,
    1379px 431px #fff,
    1197px 1880px #fff,
    1681px 1242px #fff,
    24px 369px #fff,
    1048px 987px #fff,
    183px 1375px #fff,
    856px 788px #fff,
    1943px 1078px #fff,
    79px 1770px #fff,
    566px 1499px #fff,
    1090px 1244px #fff,
    1034px 1823px #fff,
    1231px 223px #fff,
    210px 1833px #fff,
    1329px 312px #fff,
    742px 1209px #fff,
    885px 1811px #fff,
    462px 1922px #fff,
    184px 1829px #fff,
    327px 309px #fff,
    618px 1412px #fff,
    526px 1121px #fff,
    1907px 1472px #fff,
    255px 1288px #fff,
    1774px 132px #fff,
    214px 334px #fff,
    566px 1378px #fff,
    1369px 680px #fff,
    1695px 557px #fff,
    930px 801px #fff,
    215px 1090px #fff,
    1792px 1696px #fff,
    1677px 1641px #fff,
    1915px 1160px #fff,
    991px 87px #fff,
    527px 49px #fff,
    1587px 1595px #fff,
    536px 670px #fff,
    1241px 470px #fff,
    1962px 411px #fff,
    1163px 1786px #fff,
    88px 675px #fff,
    1446px 1280px #fff,
    1945px 683px #fff,
    1723px 1307px #fff,
    1675px 1941px #fff,
    1168px 678px #fff,
    1191px 238px #fff,
    925px 1744px #fff,
    1350px 1868px #fff,
    1052px 1155px #fff,
    1997px 1527px #fff,
    991px 1453px #fff,
    676px 1209px #fff,
    1008px 860px #fff,
    1484px 245px #fff,
    1645px 814px #fff,
    1382px 183px #fff,
    930px 767px #fff,
    477px 1793px #fff,
    1579px 1610px #fff,
    1854px 1810px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
